

.div
{
    width: 10rem;
    height: 10rem;
    justify-content: center;
    margin: auto;
}
.kutu
{
    width: 20rem;
    display: flex;
    height: 30rem;
    box-shadow: 0 4px 12px gray;
    border: inset 4px brown;
    cursor: pointer;
    margin-top: 60px;
    border-radius: 15px;
    transition: 0.2s;
}

.kutu:hover
{
    border: inset 5px goldenrod;
    transform:  scale(1.05);
    border-radius: 15px;
}
img
{
    width: 29rem;
    height: 30rem;
    border-radius: 11px;
}